@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Maui.Authentication.Blazor
@inject MauiBlazorAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorizing>
        <p>Authorizing...</p>
    </Authorizing>
    <Authorized>
        <h1>Hello, authenticated user!</h1>
        <button @onclick="LogoutAsync">
            Sign Out
        </button>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, unauthenticated user!</h1>
        <button @onclick="LoginAsync">
            Sign In
        </button>
    </NotAuthorized>
</AuthorizeView>

<p>This page doesn't require authentication</p>

<p>The entire counter page requires authentication</p>

<p>The Fetch data page requires authentication only for the data table</p>

@code {
    private async Task LoginAsync()
    {
        await AuthenticationStateProvider.LoginAsync();
    }

    private async Task LogoutAsync()
    {
        await AuthenticationStateProvider.LogoutAsync();
    }
}
